<div class="col-md-4 mt-4">
  <%= form_for @post do |p|%>
  <% if @post.errors.any? %>
    <ul class="list-group">
      <% @post.errors.full_messages.each do |message| %>
        <li class="list-group-item bg-warning"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= p.text_area :content, class:"form-control", rows:"5"%>
  <%= p.submit value:"Post",class:"mt-2 float-right post-btn"%>
  <% end %>
</div>

